@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tiles {
  @include flex-center;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 1.5rem;
  padding: 0 4rem;
  width: 100%;
}
