@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  position: relative;
  @include flex-center;
  flex-direction: column;
  height: 100vh;
  background: var(--background-100);
  text-align: center;

  &::before {
    position: absolute;
    top: 20rem;
    left: 0rem;
    content: '';
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background: linear-gradient(
      90deg,
      var(--tertiary-100),
      var(--secondary-100)
    );
    filter: blur(5rem);
  }
}
